         .scroller{
            display:block; 
            position: absolute;
        }
        
        .scroll {
            position:absolute; 
            -moz-border-radius:4px;
            -webkit-border-radius:4px;
            border-radius:4px;
            background:#eee;
         }
        
        .handle{
            display:block;
            position:relative;
            cursor: pointer; 
            background:#ccc; 
            -moz-border-radius:4px;
            border-radius:4px;
         }
    
        .decrease{
            display:block;
            position:absolute;
            width:0px;
            height:0;
            cursor:pointer;
        }
        
        .increase{
            display:block; 
            position:absolute; 
            width:0;
            height:0;
            cursor:pointer;
        }
        
        .scroller.horizontal {height:19px; width:100%; bottom:0; left:0;}
        
        .horizontal .scroll {left:21px; bottom:3px; height:15px; width:270px;}
        
        .horizontal .handle {bottom:-1px; height:13px;}
        
        .horizontal .decrease {bottom:4px; left:3px; border-width:7px 14px 7px 0;border-color:transparent #666666 transparent transparent; border-style:solid;}
        
        .horizontal .increase {bottom:4px;  right:3px;  border-width:7px 0 7px 14px;border-color:transparent transparent transparent #666666; border-style:solid;}
        
        .scroller.vertical {height:100%; width:19px; top:0; right:0;}
        
        .vertical .scroll {top:18px; right:3px; width:15px; height:206px;}
        
        .vertical .handle {right:-1px; width:13px;}
        
        .vertical .decrease {top:0; right:3px;border-color: transparent transparent #666666;  border-style: solid;  border-width: 0 7px 14px;}
        
        .vertical .increase {bottom:0; right:3px;border-color: #666666 transparent transparent;  border-style: solid;  border-width:14px 7px 0;}
